@charset "UTF-8";

#背景の仕組み
#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: #fff000;
}

a{
  color: #fff000;
}
html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: 100%;
  height:100%;
  background-color:#777777;/*背景色*/
}

#wrapper{
  position: relative;/* 描画を#particles-jsよりも上にするためposition:relative;を指定 */
  z-index: 1;/* z-indexの数字を大きくすることで描画を#particles-jsよりも上に  */
  width:100%;
  height: 100%;
}

#画像の表示方法
.hide-area{/*モーダル表示をする場所をあらかじめ隠す*/
  display: none;
}

.modaal-fullscreen .modaal-content-container{/*full画面の色設定*/
  background: #333;
  color: #fff;
  text-align: center;
}

.modaal-fullscreen .modaal-close{/*ボタンの色、位置*/
  background:none;
  right:20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/*キャプション*/
.caption{
    display: block;
    padding: 10px 0;
    font-size:150%;
}

/*===　サムネイル表示のためのcss　*/

.gallery{/*ベースになるギャラリーを縦並びに*/
 	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 200px;
    align-items:center;
}

.gallery li{
  width:50%;
}

li{
	display:flex;
	align-items:center;
}

.text{
	font-size:250%;
	width:300px 300px;
}

.gallery li:nth-child(odd){
	flex-direction:row-reverse;
}

/*画像の横幅を100%にしてレスポンシブ化*/
img{
  max-width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
  width:500%;
  padding:10px;
}

a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:5vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
  color:#333333;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
  color:#dddddd;
}

#intro{
	font-size:200%
}

.big{
	width:30%;
	height:10%;
}
.small{
	width:25%;
}

a{
	position: relative;/*波紋の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
a::before{
	position: absolute;
	content:"";
	transform: scale(0);/*円の大きさ初期値は0*/
	opacity: 0;/*透過0*/
	width:100%;/*円のサイズ指定*/
	height:100%;/*円のサイズ指定*/
	border-radius:50%;/*円の角丸指定*/
	background: rgba(255,255,255,0.4);/*円の背景色*/
}

a:hover::before{
	animation: circle 0.75s;
}

@keyframes circle {
  0% {
  transform: scale(0);
  opacity: 1;/*透過なし*/
  }
  30% {
    opacity: 1;
  }
  100% {
  transform: scale(2);/*アニメーションで大きくなった2倍の円の指定*/
  }
}

.zoom{
	transform: scale(1);
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoom:hover{
	transform:scale(1.1,1.1);
}

img{
	border-radius:20px
}

